# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
#  - osx
julia:
  - 1.0
  - nightly
notifications:
  email: false
git:
  depth: 99999999
after_success:
  # push coverage results to Coveralls
  - julia -e 'cd(Pkg.dir("ViscousFlow")); Pkg.add("Coverage"); using Coverage;
        Coveralls.submit(Coveralls.process_folder())'
        # push coverage results to Codecov
  - julia -e 'cd(Pkg.dir("ViscousFlow")); Pkg.add("Coverage"); using Coverage;
        Codecov.submit(Codecov.process_folder())'
jobs:
  include:
    - stage: "Documentation"
      language: julia
      julia: 1.0
      os: linux
      script:
        - julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd()));
                                               Pkg.instantiate()'
        - julia --project=docs/ -e 'ENV["PYTHON"]=""; using Pkg; Pkg.add("Conda");
                                    using Conda; Conda.add("matplotlib");
                                    Conda.add("pyqt"); Pkg.add("PyCall");
                                    Pkg.build("PyCall"); Pkg.add("PyPlot")'
        - julia --project=docs/ docs/make.jl
      after_success: skip

branches:
  only:
    - gh-pages
    - master
